@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
   @{ ViewData["anything"] = 1000;}
   <h1>@ViewData["anything"]</h1>
<p>Use this page to detail your site's privacy policy.</p>
